.location-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

/* Title */
.location-page h1 {
  font-size: 32px;
  font-weight: 700;
  color: #0f172a;
}

/* MAP */
.map-container {
  width: 100%;
  height: 500px;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  box-shadow: var(--basic-shadow);
}

/* INFO GRID */
.location-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* CARD */
.info-card {
  background: white;
  border-radius: 22px;
  padding: 22px;
  border: 1px solid var(--border-color);
  box-shadow: var(--img-shadow);
  transition: 0.3s ease;
}

.info-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 24px #2d5a4ac2;
}

/* CARD TITLE */
.info-card h3 {
  font-size: 16px;
  font-weight: 600;
  color: #2D5A4A;
  margin-bottom: 12px;
}

/* CARD TEXT */
.info-card p {
  color: #333333;
  font-size: 15px;
  line-height: 1.6;
  word-break: break-word;
}

/* POPUP */

.leaflet-popup-content-wrapper {
  border-radius: 16px;
}

.leaflet-popup-content {
  font-size: 14px;
  line-height: 1.6;
  color: #0f172a;
}

/* SAFE ZONES */
.leaflet-interactive {
  stroke: #2563eb;
  stroke-width: 2;
  fill: #3b82f6;
  fill-opacity: 0.15;
}

/* RESPONSIVE */
@media (max-width: 992px) {

  .map-container {
    height: 420px;
  }

  .location-page h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .location-info {
    grid-template-columns: 1fr;
  }

  .map-container {
    height: 350px;
    border-radius: 18px;
  }

  .info-card {
    padding: 18px;
  }

  .location-page h1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .map-container {
    height: 300px;
  }

  .info-card h3 {
    font-size: 15px;
  }

  .info-card p {
    font-size: 14px;
  }
}