.login-page {
    min-width: 70%;
    height: 80svh;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-page .login-card {
    min-width: 420px;
    min-height: 80%;
    padding: 50px 30px;
    background-color: #FFF;
    box-shadow: 0px 2px 10px 0px #00000040;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.login-card h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 28px;
}
.login-card label {
    display: block;
    font-size: 14px;
    color: #484848;
}
.login-card input {
    width: 100%;
    height: 45px;
    margin: 8px 0 16px;
    padding: 5px 3px;
    border-radius: 12px;
    background-color: var(--secondary-color);
    box-shadow: 2px 2px 10px 0px #00000040;
    caret-color: #484848;
}
.login-card input:focus {
    outline: 2px solid #8BB6FF;
}
.forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6A5ACD;
    margin-bottom: 16px;
}
.divider {
    position: relative;
    margin: 5px 0;
    padding: 0 12px;
    color: #5b6780;
    font-size: 12px;
    line-height: 18px;
    text-align: center;  
}
.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #ddd;
}
.divider::before {
    left: 0;
}
.divider::after {
    right: 0;
}
.social-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.social-login button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    border-radius: 12px;
    color: #484848;
    border: none;
    background: white;
    box-shadow: 2px 2px 10px 0px #00000040;
}
.social-login button:hover {
    background-color: #F4F5F7;
}
.login-card .signup-text {
    text-align: center;
    font-size: 14px;
}
.login-card .signup-text .signup-link {
    color: #6A5ACD;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 768px) {
    .login-page {
        min-width: 100%;
        padding: 20px 10px;
    }
    .login-page .login-card {
        min-height: auto;
        padding: 30px 20px;
        border-radius: 16px;
    }
    .login-card h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .social-login {
        flex-direction: column;
    }
    .social-login button {
        width: 100%;
    }
}
@media (max-width: 435px) {
    .login-page .login-card {
        min-width: 80%;
    }
    .login-btn {
        font-size: 18px;
    }
    .login-card h2 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .social-login button {
        font-size: 16px;
    }
}