.footer {
    padding: var(--basic-padding);
    min-height: 80px;
    background-color: #F4F7FA;
    display: flex;
    align-items: center;
}
.footer ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer ul li a {
    color: #666666;
    font-size: 20px;
    transition: all 0.35s;
}
.footer ul li a:hover {
    color: var(--text-hover);
}
@media (max-width: 432px) {
    .footer ul {
        flex-direction: column;
        gap: 20px;
    }
}