.hero {
  padding: var(--basic-padding);
  min-height: 400px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.hero .left-img {
  width: 359px;
  height: 378px;
  box-shadow: var(--img-shadow);
}
.hero .left-img img {
  width: 100%;
  height: 100%;
}
.hero .hero-content {
  width: 36%;
}
.hero .hero-content h2,
.hero .hero-content p {
  margin-top: 30px;
}

.hero .hero-content .btns {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.learn{
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}
.download{
  color: #000000;
}
.hero .right-img{
  width: 250px;
  height: 378px;
  border-radius: 16px;
  box-shadow: var(--img-shadow);
  overflow: hidden;
}
.hero .right-img img{
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .hero {
    padding: 30px 20px;
    flex-direction: column;
    text-align: center;
  }
  .hero .hero-content {
    width: 80%;
  }
  .hero .hero-content .btns {
    justify-content: center;
  }
  .hero .left-img {
    width: 65%;
  }
  .hero .right-img {
    display: none;
  }
}
@media (max-width: 432px) {
  .hero h2 {
    font-size: 24px;
  }
  .hero p {
    margin-top: 20px;
    font-size: 16px;
  }
  .hero .btns {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
  }
}