.how-work {
    margin: 30px 0px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.how-work .cards-container {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.how-work .cards-container .work-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.how-work .work-content {
    display: flex;
    align-items: center;
    gap: 10px;
}
.how-work .cards-container img {
    width: 89px;
}
.how-work .work-content h3 {
    font-size: 24px;
    color: #333333;
}
.how-work .work-content p {
    color: #666666;
}
.work-wrapper .arrow img{
    width: 84px;
    transform: rotate(180deg);
}
@media (max-width: 800px) {
    .how-work .cards-container {
        flex-wrap: wrap;
        gap: 20px;
    }
    .how-work .cards-container .work-wrapper {
        flex-direction: column;
    }
    .work-wrapper .arrow img {
        transform: rotate(-90deg);
        width: 80px;
    }
    .how-work .work-content h3 {
        font-size: 20px;
    }
    .how-work .work-content p {
        font-size: 18px;
    }
}

@media (max-width: 432px) {
    .how-work .cards-container {
        gap: 10px;
    }
    .how-work .cards-container img {
        width: 85px;
    }
    .how-work .work-content {
        gap: 5px;
    }
    .how-work .work-content h3 {
        font-size: 18px;
    }
    .how-work .work-content p {
        font-size: 16px;
    }
}