.download-section {
    margin: 30px 0px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.download-section .download-way {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 250px;
}
.download-section .download-way img{
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 4px 14px 0px #00000040;
    transition: all 0.3s;

}
.download-section .download-way img:hover{
    scale: 1.05;
}
@media (max-width: 768px)  {
    .download-section .download-way{
        flex-direction: column;
    }
    .download-section .download-way img{
        width: 250px;
    }
}